@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s linear;
  scroll-behavior: smooth;
  font-family: "Poppins", serif;
}

.header-class {
  position: fixed;
  width: 100%;
  z-index: 9999;
}
header {
  padding: 0px 6%;
}
.heactive{
  background-color: rgba(34,34,34,0.8);
}


.hide {
  display: none;
}

.navbar-brand img {
  height: 100px;
  width: auto;
}

.main-intro {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  background-image: linear-gradient(
    to right,
    #77f9f2 0%,
    #77f9f2 50%,
    #ffffff 50%,
    #ffffff 100%
  );
}

.intro .span-second {
  position: relative;
  left: 25px;
}
.span-first{
  position: relative;
  left: 20px;
}
.main-intro .row {
  text-align: center;
}

.intro h1 {
  font-family: "Hahmlet", serif;
  font-size: 80px;
  font-weight: 300;
  color: #111612;
  margin-bottom: 20px;
}
.intro p {
  font-size: 24px;
}
.sub-icon img {
  border-radius: 314px;
  background: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  object-fit: contain;
  border: 20px solid #77f9f2;
}

.sub-icon {
  margin-top: 40px;
}

.welcome-section {
  background: #B0FBF7;
  padding: 150px;
  text-align: center;
}

.welcome-section .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weclome h2 {
  font-size: 42px;
  margin-bottom: 20px;
  font-weight: 500;
}

.weclome p {
  font-size: 20px;
}

.skills-section {
  position: relative;
}
.skills-section .container {
  background: white;
  box-shadow: 0px 0px 10px 0px #00fff154;
  
  position: relative;
  top: -100px;
  border-radius: 5px;
  padding: 40px;
}

.heading-sub h2 {
  text-align: center;
  font-size: 42px;
}
.skills-section .row {
  margin-top: 60px;
  row-gap: 30px;
}

.skills-section .skills-cards-box {
  text-align: center;
  box-shadow: 8px 8px 0px 0px #00000045;
  border: 1px solid #00000045;
  border-radius: 5px;
}

.skills-cards-box {
  padding: 20px;
}

.skills-cards {
  text-align: center;
}

.skills-cards p {
  font-size: 24px;
  font-weight: 600;
  font-family: "Hahmlet";
  display: inline-block;
  border: 1px solid #d6e2e1;
  padding: 10px;
  box-shadow: -6px -6px 0px 0px #d6e2e1;
}

.project-card-box {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #77f9f28c;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.project-card-box:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.text {
  color: rgb(0, 0, 0);
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.project-secction {
  background: #77f9f2;
  padding: 40px;
}

.project-secction .row {
  row-gap: 40px;
}



.text a{
color: black;
text-decoration: none;
padding: 10px 20px;
background: #ffffff;
border-radius: 176px;
border: 2px solid #77f9f2;
font-size: 16px;
}

.project-card-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.347);
  border-radius: 5px;
}

.project-secction .row{
  margin-top: 60px;
  row-gap: 40px;
}
.navbar-nav{
  display: none;
}






.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #000000 !important;
  font-size: 20px !important ;
  background: none !important;
  border: 2px solid #000000 !important;
  border-bottom: 0px !important;
  border-radius: 5px 5px 0px 0px !important; 
}

.nav-pills{
  border-bottom: 2px solid rgb(0, 0, 0);
}

.nav-pills .nav-link {
  font-size: 20px;
  color: black;
  border: none;
  width: 180px;
  border: 2px solid transparent;
  border-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.nav-link:focus, .nav-link:hover {
  color: #ffffff !important;
}


.project-secction{
  padding-left: 6%;
  padding-right: 6%;
}

.testiomonial-section{
  padding: 60px 0px;
}

.testiomonial-section .row{
  margin-top: 60px;
}

footer {
  padding-top: 20px;

  margin-top: 0px;
  padding-bottom: 20px;
  margin-top: 40px;
}
.footer-seprater a i{
  font-size: 30px;
  font-weight: 200;
  color: black;

}

 
.footer-seprater{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

 

.slogan{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

}
.slogan h4{
  padding: 40px;
  box-shadow: 0px 0px 10px 0px #dbca72;
  border-radius: 10px;
}


.get-in-touch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
  position: relative;
}


.get-in-touch h4 {
  font-size: 60px;
}


.get-touch-mail a {
  border: 2px solid #77f9f2;
  border-radius: 100px;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

 

.content{
  display: block;
  width: 100%;
  position: relative;
}

.content h4 {
  color: #fff;
  font-size: 94px !important;
  position: absolute;
  width: 100%;
  text-align: center;
}

.content h4:nth-child(1) {
  color: #ffffff;
  -webkit-text-stroke: 2px #77f9f2;
}

.content h4:nth-child(2) {
	color: #77f9f2;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}


.get-touch-mail {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hright-se {
  position: relative;
  top: 105px;
}

.footer-container{
  margin: 20px;
}


.border-blue {
  border: 1px solid #77f9f2;
  margin-top: 40px !important;
}

@media(max-width:1200px){
  .welcome-section {
    padding: 150px 0px;
}
}


@media(max-width:768px){


  .content h4 {
    font-size: 64px !important;
 
}

.hright-se {
  position: relative;
  top: 60px;
}


  .intro .span-second {
    left: 0px;
}

.span-first {
  left: 0px;
}

  .sub-icon {
    margin-top: 20px;
}

  .intro h1 {
    font-size: 52px;
}
.navbar-brand img {
  height: 80px;
  width: auto;
}


}

@media(max-width:575px){
  .hright-se {
    position: relative;
    top: 22px;
}

  .footer-seprater a i {
    font-size: 20px;
    font-weight: 200;
    color: black;
}


  .content h4 {
    font-size: 40px !important;
}


  .welcome-section {
    padding: 120px 0px;
    padding-top: 60px;
}

  section{
    padding-left:4% ;
    padding-right: 4%;
  }

  .skills-section .container {
    padding: 40px 20px;
}

.project-secction {
  /* background: #dbca72; */
  padding: 0px;
  padding-top: 40px;
  margin-top: -40px;
  padding-bottom: 60px;
}

.header-class {

  padding: 0px 4%;
  z-index: 9999;
}

.weclome h2 {
  font-size: 32px;
}

.weclome p {
  font-size: 18px;
}

.skills-section .row {
  margin-top: 40px;
  row-gap: 30px;
}




}
